.logotipo{
    display: inline-block;
    width: 10%;
}

.navbar{
    height: 5rem;
   
}

.carousel-inner{
    height: 30rem;
  
}
.imgBanner{
    height: 40rem;
    width: 100%;
}

.imgBanner2{
    height: 37rem;
    width: 100%;
}

.imgBanner3{
    height: 38rem;
    width: 100%;
}

.section_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.imgHeladeraSamsung{

    height: 20rem;
 
   
}





.imgTeleSamsung{
    height: 20rem;
}

.imgPlay5{
    height: 20rem;
    
}


button{
width: 50%;  
background-color: black;
color: white;
    
    
}
